In [ ]:
import os
os.listdir()

In [2]:
import pandas as pd

In [3]:
df=pd.read_excel("filtered_transactions.xlsx")
df

      customer_id           name transaction_date       amount category
0             103  Charlie Davis       2022-01-01   759.037390        A
1             436    Alice Brown       2022-01-01  1096.181632        C
2             861    Alice Brown       2022-01-02  1158.623597        B
3             271     Bob Wilson       2022-01-02   859.027857        -
4             107     John Smith       2022-01-02   712.566977        C
...           ...            ...              ...          ...      ...
1045           85     John Smith       2023-12-27   761.082210        C
1046           78    Alice Brown       2023-12-27  1003.574745        B
1047          457  Charlie Davis       2023-12-28   832.511670        C
1048          878  Charlie Davis       2023-12-28   723.357978        B
1049            1     Bob Wilson       2023-12-30   721.611291        C

[1050 rows x 5 columns]

In [4]:
df.to_csv("filtered_transactions.csv",index=False)
df

      customer_id           name transaction_date       amount category
0             103  Charlie Davis       2022-01-01   759.037390        A
1             436    Alice Brown       2022-01-01  1096.181632        C
2             861    Alice Brown       2022-01-02  1158.623597        B
3             271     Bob Wilson       2022-01-02   859.027857        -
4             107     John Smith       2022-01-02   712.566977        C
...           ...            ...              ...          ...      ...
1045           85     John Smith       2023-12-27   761.082210        C
1046           78    Alice Brown       2023-12-27  1003.574745        B
1047          457  Charlie Davis       2023-12-28   832.511670        C
1048          878  Charlie Davis       2023-12-28   723.357978        B
1049            1     Bob Wilson       2023-12-30   721.611291        C

[1050 rows x 5 columns]

In [ ]:
df.head()

In [ ]:
df.head(10)

In [ ]:
df.tail()

In [ ]:
df.tail(8)

In [ ]:
df.sample()

In [ ]:
df.sample(5)

In [ ]:
#missing value:
df.isna()

In [ ]:
df.isna().sum()

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
# 1.categorical \ qualitative data
#2.numerical \ quantitative data

In [ ]:
# 1=>a.nominal 
#    b.ordinal

In [ ]:
#2=>1.descript
#   2.countinue

In [ ]:
df

In [ ]:
df.dtypes

In [ ]:
# df['payment_method']

In [ ]:
df["transaction_date"]

In [ ]:
from datetime import datetime

In [ ]:
ans = datetime.strptime(str(df['transaction_date'][1046])[:10], "%Y-%m-%d") \
          .strftime("%d-%m-%Y")

In [ ]:
# ans=datetime.strptime(df["transaction_date"])[1046]("%Y-%m-%d").strftime("%d-%m-%Y")

In [ ]:
ans

In [ ]:
# all_dates=[]

In [ ]:
all_dates = []  # make sure the list is initialized

for date in df["transaction_date"]:
    formatted_date = date.strftime("%d/%m/%Y")  # directly use strftime on Timestamp
    all_dates.append(formatted_date)

print(all_dates)

In [ ]:
# for date in df ["transaction_date"]:all_dates.append(datetime.strptime(date,"%Y-%m-%d").strftime("%d/%m/%Y"))

In [ ]:
# date_series=pd.series(all_dates)

In [ ]:
date_series = pd.Series(all_dates)  # Capital 'S' in Series

print(date_series)

In [ ]:
(date_series)

In [ ]:
df["transaction_date"]=date_series

In [ ]:
df["transaction_date"]

In [ ]:
df

In [ ]:
df["transaction_date"].head(10)

In [ ]:
# df["transaction_date"]=pd.to_datetime(df["transaction_date"])

In [ ]:
df["transaction_date"] = pd.to_datetime(df["transaction_date"], dayfirst=True)

print(df["transaction_date"])

In [ ]:
df["transaction_date"]

In [ ]:
df

In [ ]:
df.isnull().sum()

In [ ]:
#missing value :

In [ ]:
df.dropna(inplace=True)

In [ ]:
df

In [ ]:
df.isna().sum()

In [ ]:
df=pd.read_csv("filtered_transactions.csv")

In [ ]:
df.isna().sum()

In [ ]:
df["category"]=df["category"].fillna("-")

In [ ]:
df.isna().sum()

In [ ]:
df

In [ ]:
df["amount"].fillna(df["amount"].mean(),inplace=True)

In [ ]:
df.isna().sum()

In [ ]:
df.duplicated()

In [ ]:
print(df.duplicated().sum())

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.duplicated().sum()

In [ ]:
df.dtypes

In [ ]:
ndf = df["amount"].astype(int)

In [ ]:
ndf.dtypes

In [ ]:
ndf

In [ ]:
df

In [ ]:
ndf=df["amount"].astype("int32")

In [ ]:
ndf.dtypes

In [ ]:
ndf

In [ ]:
df