In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

Step : 1 :-

1.Load Dataset :

In [ ]:
df = pd.read_csv("titanic.csv")
df

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.sample()

Step : 2 :-

2.Data Cleaning :

=> Cheack for missing value :

In [ ]:
df.isna()

In [ ]:
df.isnull().sum()

=> Fill missing value :

In [ ]:
df["Age"] = df["Age"].fillna(df["Age"].median())

In [ ]:
df["Embarked"] = df["Embarked"].fillna(df["Embarked"].mode()[0])

In [ ]:
df = df.drop(columns=['Cabin'])

In [ ]:
print(df.isnull().sum())

In [ ]:
df.duplicated().sum()

In [ ]:
df.dtypes

=> Summarize Data :

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df["Pclass"].describe()

=> Sorting :

In [ ]:
df

In [ ]:
df.sort_values(by="Ticket",ascending=True)

In [ ]:
df.sort_values(by="Ticket",ascending=True)

=> Filtering :

In [ ]:
df

In [ ]:
df[df["Age"]>30]

=> Aggregation :

In [ ]:
print(df["Age"].min())

In [ ]:
print(df["Age"].max())

In [ ]:
(df["Age"].sum())

In [ ]:
(df["Age"].mean())

In [ ]:
(df["Age"].count())

Step : 3 :-

=> Visualization :

=>1.Bar plot :

In [ ]:
df = sns.load_dataset("titanic")

plt.figure(figsize=(8,5))
sns.barplot(x="pclass", y="fare", data=df, estimator=np.sum, errorbar=None)

plt.xlabel("Passenger Class")
plt.ylabel("Total Fare")
plt.title("Total Fare by Class")
plt.show()

=>2.Line plot :

In [ ]:
df = sns.load_dataset("titanic")

line_data = df.groupby("pclass")['fare'].sum().reset_index()

plt.figure(figsize=(10,5))
sns.lineplot(data=line_data, x='pclass', y='fare')

plt.title("Total Fare per Class")
plt.show()

=>3.Scatter plot :

In [ ]:
df = sns.load_dataset("titanic")

line_data = df.groupby("pclass")['fare'].sum().reset_index()

plt.figure(figsize=(10,5))
plt.scatter(line_data['pclass'], line_data['fare'])

plt.title("Total Fare per Class")
plt.xlabel("Passenger Class")
plt.ylabel("Total Fare")

plt.show()

=>4.Pie plot :

In [ ]:
df = sns.load_dataset("titanic")

pie_data = df.groupby("pclass")['fare'].sum().reset_index()

plt.figure(figsize=(7,7))
plt.pie(pie_data['fare'], labels=pie_data['pclass'], autopct="%0.1f%%")
plt.title("Total Fare Contribution per Class")
plt.show()

=>5.Histogram plot :

In [ ]:
df = sns.load_dataset("titanic")

plt.figure(figsize=(10,5))
plt.hist(df['fare'], bins=20, color='skyblue', edgecolor='black')

plt.title("Fare Distribution of Passengers")
plt.xlabel("Fare")
plt.ylabel("Number of Passengers")

plt.show()

=>6.Heatmap plot :

In [ ]:
df = sns.load_dataset("titanic")
heat_data = df.pivot_table(values='fare', index='pclass', columns='sex', aggfunc='sum')
plt.figure(figsize=(8,5))
sns.heatmap(heat_data, annot=True, fmt=".0f", cmap="viridis")
plt.title("Total Fare by Class and Gender")
plt.xlabel("Gender")
plt.ylabel("Passenger Class")

plt.show()